<div class="products-wrapper">
  <div class="wrapper">
    <div class="products">
      <div class="products__img">
        <img src="../../assets/img/triangle.svg" alt="triangle">


        <div class="products__content">
          <ul>
            <li>
              <a href="#">
                <img src="../../assets/img/profile.svg">
                Accounts
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../assets/img/monitor.svg">
                Software
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../assets/img/clock.svg">
                Hours Boost
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
