@import 'src/assets/myStyles/variables';

.subscriptions-wrapper {
  text-align: center;
}

.subscriptions-card {
  display: flex;
  margin-bottom: 61px;
}

.card__ul {
  display: flex;
  flex-direction: column;
}

.content {
  padding: 28px 0 0 0;
  height: $content-height;
}

.content__title {
  font-size: 35px;
}

.marginTrans {
  margin: 0 36px;
}

.card {
  border: 1px solid #D2D2D7;
  padding: 24px 30px 36px 30px;
  border-radius: 12px;
  background: #fff;
  position: relative;
  z-index: 2;
}

.upper-card__title {
  background: #0869CC;
  border-radius: 12px 12px 0 0;
  color: #fff;
  padding: 7px 20px;
  font-size: 18px;
  position: relative;
  z-index: 1;
}

.temp {
  max-width: 305px;
  margin-top: 27px;
}

.card__input {
  border: 1px solid #D2D2D7;
  border-radius: 12px;
  padding: 11px 30px;
  font-size: 16px;

  &-green {
    background: #28A745;
    padding: 14px 79px;
  }

  &-red {
    background: #DC3545;
    padding: 14px 79px;
  }
}

.card__list {
  margin-bottom: 5px;

  button {
    white-space: nowrap;
  }
}

.card__span {
  margin-bottom: 22px;
}

.pc-wrapper {

}

.card__span {
  font-size: 18px;
}



.computer-wrapper, .computer-container {
  display: flex;
}

.computer-container {
  align-items: center;
  justify-content: space-around;
  margin-bottom: 45px;
  border: 1px solid #D2D2D7;
  padding: 13px 34px;
  border-radius: 12px;
  margin-left: 20px;
  user-select: none;
}

.computer-desc {
  margin-left: 20px;
  white-space: nowrap;
}

@media (max-width: 1030px) {
  .subscriptions-card {
    flex-direction: column;
  }

  .card__list {
    display: grid;
  }

  .marginTrans {
    margin: 27px 0 0 0;
  }

  .computer-wrapper {
    flex-direction: column;
  }

  .computer-container {
    margin-bottom: 20px;
  }

}

.card__arrow {
  display: none;
}

.fullPrice {
  padding: 24px 30px 8px 30px;

  .card__list {
    display: none;
    white-space: nowrap;
  }

  .card__time, .card__arrow {
    display: block;
    width: 257px;
  }

  .card__time {
    margin-bottom: 8px;
  }

  .card__arrow {
    button {
      background: none;
      border: 0;
    }
  }
}

.card__time {
  color: #86868B;
}

.card__text {
  text-transform: uppercase;
  &::placeholder {
    text-transform: capitalize;
  }
}

.computer__active {
  border: 1px solid #0071E3;
}
