<div class="content">
<div class="auth-wrapper__form">

<div class="subscriptions-wrapper">
  <div class="card-wrapper">
    <h1 class="content__title">Subscriptions</h1>

    <div class="subscriptions-card">
      <div
        class="temp"
        [class.marginTrans]="item.marginTrans"
        *ngFor="let item of cardItems"
      >
        <span class="upper-card__title">{{item.version}} version</span>

        <div class="card" [class.fullPrice]="!item.open">
          <ul class="card__ul" *ngIf="item.activated; else notActivated">

            <span class="card__span">Vertigo Boost Panel</span>

            <li class="card__list card__input card__time">
              Time left: {{date | date:'HH'}}h:{{date | date:'mm'}}m:{{date | date:'ss'}}s
            </li>

            <li class="card__list card__arrow">
              <button (click)="changePrice(item.id)">
                <img src="../../../assets/img/arrowDown.svg" alt="">
              </button>
            </li>
            <li class="card__list">
              <input type="text" placeholder="Enter Code" class="card__input card__text" value="{{item.code}}" readonly>
            </li>
            <li class="card__list">
              <button type="button" class="card__input card__input-green">Activate code</button>
            </li>
            <li class="card__list card__input">
              {{item.pc}}
            </li>
            <li class="card__list">
              <button type="button" class="card__input card__input-red">Reset Device</button>
            </li>
          </ul>

          <ng-template #notActivated>
            <ul class="card__ul">
              <span class="card__span">Vertigo Boost Panel</span>

              <li class="card__list card__input card__time">
                Not Activated
              </li>
              <li class="card__list card__arrow">
                <button (click)="changePrice(item.id)">
                  <img src="../../../assets/img/arrowDown.svg" alt="">
                </button>
              </li>
              <li class="card__list">
                <input type="text" placeholder="Enter Code" class="card__input card__text">
              </li>
              <li class="card__list">
                <button type="button" class="card__input card__input-green">Activate code</button>
              </li>
              <li class="card__list card__input">
                No activated PC yet
              </li>
              <li class="card__list">
                <button type="button" class="card__input card__input-red">Reset Device</button>
              </li>
            </ul>
          </ng-template>

        </div>
      </div>


</div>
</div>
</div>

  <div class="pc-wrapper">
    <div class="computer-wrapper">
      <div
        class="computer-container"
        [class.computer__active]="computer.active"
        *ngFor="let computer of computerInfo; let idx = index"
        (click)="computerClick(computer.id)"
      >
        <img src="../../../assets/img/pc.svg" alt="pc">
        <div class="computer-desc">
          <span>#{{idx + 1}} </span>
          <span>Computer</span>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
