@import "src/assets/myStyles/variables";

.subscriptions-wrapper {
  text-align: center;
}

.subscriptions-card {
  display: flex;
}

.card__ul {
  display: flex;
  flex-direction: column;
}

.content {
  padding: 28px 0 0 0;
  height: $content-height;
}

.content__title {
  font-size: 35px;
}

.card {
  margin-right: 36px;
  border: 1px solid #D2D2D7;
  padding: 24px 30px 36px 30px;
  border-radius: 12px;
  background: #fff;
  position: relative;
  z-index: 2;
}

.upper-card__title {
  background: #0869CC;
  border-radius: 12px 12px 0 0;
  color: #fff;
  padding: 7px 20px;
  font-size: 18px;
  position: relative;
  right: 15px;
  z-index: 1;
}

.temp {
  margin-top: 27px;
}

.card__input {
  border: 1px solid #D2D2D7;
  border-radius: 12px;
  padding: 11px 30px;
  font-size: 16px;

  &-green {
    background: #28A745;
    padding: 14px 79px;
  }

  &-red {
    background: #DC3545;
    padding: 14px 79px;
  }
}

.card__list {
  margin-bottom: 5px;
}
