<div class="content">
<div class="auth-wrapper__form">

<div class="subscriptions-wrapper">
  <div class="card-wrapper">
    <h1 class="content__title">Subscriptions</h1>

    <div class="subscriptions-card">
      <div class="temp">
        <span class="upper-card__title">Lite version</span>

        <div class="card">
          <ul class="card__ul">

            <span>Vertigo Boost Panel</span>

            <!--        <li class="card__list">Time left: {{date | date:'HH:mm:ss'}}</li>-->
            <li class="card__list card__input">Time left: {{date | date:'HH'}}h:{{date | date:'mm'}}m:{{date | date:'ss'}}s</li>
            <li class="card__list">
              <input type="text" placeholder="enter code" class="card__input" value="6SBVGMS9TXMK2RUP">
            </li>
            <li class="card__list">
              <button type="button" class="card__input card__input-green">Activate code</button>
            </li>
            <li class="card__list card__input">
              ALFRED-PC
            </li>
            <li class="card__list">
              <button type="button" class="card__input card__input-red">Reset Device</button>
            </li>
          </ul>
        </div>
      </div><div class="subscriptions-card">
      <div class="temp">
        <span class="upper-card__title">Standard version</span>

        <div class="card">
          <ul class="card__ul">

            <span>Vertigo Boost Panel</span>

            <!--        <li class="card__list">Time left: {{date | date:'HH:mm:ss'}}</li>-->
            <li class="card__list card__input">Time left: {{date | date:'HH'}}h:{{date | date:'mm'}}m:{{date | date:'ss'}}s</li>
            <li class="card__list">
              <input type="text" placeholder="enter code" class="card__input" value="6SBVGMS9TXMK2RUP">
            </li>
            <li class="card__list">
              <button type="button" class="card__input card__input-green">Activate code</button>
            </li>
            <li class="card__list card__input">
              ALFRED-PC
            </li>
            <li class="card__list">
              <button type="button" class="card__input card__input-red">Reset Device</button>
            </li>
          </ul>
        </div>
      </div>

      <div class="subscriptions-card">
        <div class="temp">
          <span class="upper-card__title">Deluxe version</span>

          <div class="card">
            <ul class="card__ul">

              <span>Vertigo Boost Panel</span>

              <!--<li class="card__list">Time left: {{date | date:'HH:mm:ss'}}</li>-->
              <li class="card__list card__input">Time left: {{date | date:'HH'}}h:{{date | date:'mm'}}m:{{date | date:'ss'}}s</li>
              <li class="card__list">
                <input type="text" placeholder="enter code" class="card__input" value="6SBVGMS9TXMK2RUP">
              </li>
              <li class="card__list">
                <button type="button" class="card__input card__input-green">Activate code</button>
              </li>
              <li class="card__list card__input">
                ALFRED-PC
              </li>
              <li class="card__list">
                <button type="button" class="card__input card__input-red">Reset Device</button>
              </li>
            </ul>
          </div>
        </div>



</div>
</div>
</div>
</div>
