.wrap {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #19191b;
}

.container {
  font-size: 1.2rem;
  font-family: "SFmedium", sans-serif;
  border: 1px solid #fff;
  text-align: center;
  padding: 10px 40px;
  border-radius: 5px;

  p {
    color: #28A745;
  }

  a {
    font-size: 1rem;
    color: #ccc;
  }
}
