@font-face {
  font-family: "SFlight";
  src: ("~fonts/SFProDisplay-Light.ttf");
}


@font-face {
  font-family: "SFmedium";
  src: ("~fonts/SFProDisplay-Medium.eot");
}

@font-face {
  font-family: "SFbold";
  src: ("~fonts/SFProDisplay-Bold.woff");
}


@font-face {
  font-family: "Segoe";
  src: ("~fonts/Segoe.ttf");
}
