@import "src/assets/myStyles/variables";

* {
  font-family: 'SFlight', sans-serif;
}

.content {
  max-width: 1418px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  height: auto;
}

@media (max-width: 1030px) {
  .some-wrapper {
    border-radius: 0;
    background: #fff;
  }
}

@media (max-height: $content-height-adaptive) {
  .some-wrapper {
    border-radius: 0;
    background: #fff;
  }
}
