.wrap {
  background: #19191b;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "SFmedium", sans-serif;
  color: #fff;
}

.back-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #19191b;
  height: 100vh;
  justify-content: center;
  font-family: "SFmedium", sans-serif;

  &__span {
    color: #fff;
    font-size: 1.5rem;
    margin: 0 0 2px 0;
  }

  &__a {
    color: #b2b2b2
  }
}

.auth__input {
  padding: 18px 100px 18px 18px
}

.auth__btn {
  padding: 10px 132px;
}
