<div class="content">
<div class="auth-wrapper__form">


  <form class="form-wrapper" (ngSubmit)="onSubmit()" [formGroup]="form">
  <span class="auth-header">Reset Password</span>
  <input
    type="text"
    placeholder="Enter your Email"
    class="auth__input"
    formControlName="email"
    [ngClass]="{
    'validation-border__error': form.get('email').invalid && form.get('email').touched
    }"
  >
  <span class="auth__info">Your email address you use to sign in to VertigoBoost, HoursBoost.</span>
  <button type="submit" class="auth__btn" [disabled]="form.invalid">Send reset link</button>
</form>

<div class="auth-redirect">
  <a [routerLink]="['/auth', 'create-account']">Create account</a>
  <span> / </span>
  <a [routerLink]="['/auth']">Sign in to Account</a>
</div>

</div>
</div>
