<div class="settings-wrapper">
  <div class="settings-content">

    <div class="settings__title">
      Settings
    </div>
    <div class="settings-data">

      <div class="settings__logo">
        <img src="../../../assets/img/roar_git.png" alt="avatar">

        <div class="settings-info">
          <div class="settings-info-up">
            <span class="settings__social">Email</span>
            <p class="settings__account">AlfredSha1337@gmail.com</p>
          </div>

          <div class="settings-info-down">
            <span class="settings__social">Discord</span>
            <p class="settings__account">xALFREDx#4666</p>
          </div>
        </div>
      </div>


      <div class="settings-edit">
        <button>Edit</button>
      </div>

    </div>

  </div>

  <div class="settings-confirm">
    <span>Confirmation link has been sent to your email!</span>
    <img src="../../../assets/img/successStick.svg" alt="confirm email">
  </div>

</div>
