<div class="settings-wrapper">
  <div class="settings-content">

    <div class="settings__title">
      Settings
    </div>
    <div class="settings-data">

      <div class="settings__logo">
        <div class="settings__branch">
          <img src="../../../assets/img/roar_git.png" alt="avatar">
          <button>Remove</button>
        </div>

        <div class="settings-info">
          <div class="settings-info-up">
            <p class="settings__social">Email</p>

            <div class="settings__account">
              <p>AlfredSha1337@gmail.com</p>
              <button><img src="../../../assets/img/pen.svg" alt="pen"></button>
            </div>
          </div>

          <div class="settings-info-down">
            <p class="settings__social">Discord</p>

            <div class="settings__account">
              <p>xALFREDx#4666</p>
              <button><img src="../../../assets/img/pen.svg" alt="pen"></button>
            </div>
          </div>

        </div>
      </div>


      <div class="settings-edit">
        <button
          (click)="editBtn = true"
          *ngIf="!editBtn; else saveBtn"
        >
          Edit
        </button>

        <ng-template #saveBtn>

          <app-user-change-data
            [prevState]="editBtn"
            (newState)="backEditBtn($event)"
          ></app-user-change-data>

        </ng-template>

      </div>

    </div>

  </div>

  <div class="settings-confirm">
    <span>Confirmation link has been sent to your email!</span>
    <img src="../../../assets/img/successStick.svg" alt="confirm email">
  </div>

</div>
