@import "src/assets/myStyles/variables";

.settings-wrapper {
  background: #ECECEC;
  width: 786px;
  position: relative;
  height: $content-height;
}

.settings-data {
  display: flex;
  justify-content: space-between;
  width: 83%;
  margin: 0 auto;
}

.settings__logo {
  display: flex;
  align-items: center;
}

.settings-info {
  margin-left: 73px;
}

.settings__title {
  font-size: 38px;
  font-weight: 600;
  text-align: center;
  padding: 89px 0 58px 0;

  .settings__errorImg {
    font-size: 1rem;
    color: red;
  }
}

.settings__social {
  font-size: 17px;
  color: #6F7276;
  line-height: 22px;
}

.settings__account {
  font-size: 18px;
  color: #2E3238;
  margin-bottom: 25px;
  display: inline-flex;
  align-items: center;

  img {
    margin: 0 0 1px 5px;
  }

  button {
    background: none;
    border: 0;
  }

  input {
    background: none;
    border: 0;
    color: red;
    width: 100%;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;

    &:disabled {
      color: #000;
    }
  }
}

.settings-edit {
  button {
    max-width: 113px;
    background: #DEDEDE;
    border: 0;
    color: #6F7276;
    border-radius: 5px;
    padding: 4px 42px;
    font-size: 17px;
    cursor: pointer;
  }
}

.settings-confirm {
  position: absolute;
  bottom: 22px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  cursor: pointer;

  input {
    white-space: nowrap;
    color: #000;
    cursor: pointer;
    background: none;
    border: 0;

    &:disabled {
      cursor: not-allowed;
    }
  }

  img {
    margin: 0 7px 3px 7px;
  }
}

.settings__branch-hover {
  display: none;

  width: 128px;
  height: 128px;
  border-radius: 50%;


  .branch-hover__btn {
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.settings__branch {
  text-align: center;
  position: relative;

  &:hover {
    .settings__branch-hover {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      background: rgba(236, 236, 236, .4);
    }
  }

  img {
    margin-bottom: 5px;
    width: 128px;
    height: 128px;
    border-radius: 50%;


  }

  button {
    color: #6F7276;
    font-size: 15px;
    background: none;
    border: 0;
  }
}

@media (max-width: 1030px) {
  .settings-wrapper {
    width: 100vw;
    height: calc(100vh + 42px) !important;

  }

  .settings__title {
    margin: 89px 0 58px 0;
  }
}

@media (max-width: 790px) {

  .settings-data, .settings__logo {
    flex-direction: column;
    align-items: flex-start;
  }

  .settings-info {
    margin-left: 0;
  }

  .settings__branch {
    margin-left: -5px;
    display: flex;
    margin-bottom: 10px;
    img {
      margin-right: 15px;
    }

    button {
      font-size: 17px;
    }
  }
}

@media (max-width: 375px) {
  .settings-confirm {
    span {
      font-size: 13px;
    }
  }

  .settings__account {
    font-size: 16px;
  }

  .settings-edit {
    margin: 0;
  }
}

@media (max-height: 855px) {
  .settings-wrapper {
    height: $content-height;
  }
}

.error-text {
  color: red !important;
}

.wait {
  cursor: pointer;
}

.error {
  input {
    color: red !important;
  }

  img {
    display: none;
  }
}
